@import url(//db.onlinewebfonts.com/c/4d309d1a449d052dcbc2f893306274fd?family=COCOGOOSE+LETTERPRESS);

@font-face {font-family: "COCOGOOSE LETTERPRESS"; src: 
  url("//db.onlinewebfonts.com/t/4d309d1a449d052dcbc2f893306274fd.eot"); src: 
  url("//db.onlinewebfonts.com/t/4d309d1a449d052dcbc2f893306274fd.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/4d309d1a449d052dcbc2f893306274fd.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/4d309d1a449d052dcbc2f893306274fd.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/4d309d1a449d052dcbc2f893306274fd.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/4d309d1a449d052dcbc2f893306274fd.svg#COCOGOOSE LETTERPRESS") format("svg"); }

  @font-face {font-family: "COCOGOOSE"; src: 
    url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot"); src: 
    url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.svg#COCOGOOSE") format("svg"); }
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}
h1 {
  font-family: 'COCOGOOSE', serif;
  font-weight: 600;
  size: 2rem;
  line-height: 2.3rem;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.menu {
  display: none;
}

header{
  margin-bottom: 20px;
}

header .social-media,
header nav,
main section,
footer .footer-top {
  padding: 10px 100px;
}

header nav {
  background: #ddd;
  display: flex;
  justify-content: flex-end;
}

header .social-media {
  background: #000;
}

header nav ul {
  width: 30%;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

header nav ul li,
header .social-media ul li {
  display: flex;
}

header .social-media ul {
  display: flex;
  justify-content: flex-end;
}

.menu i {
  font-size: 1.5rem;
  cursor: pointer;
}

header .social-media ul li a i {
  margin: 0 6px;
  font-size: 1rem;
  color: white;
}

header nav ul li a {
  display: flex;
  text-decoration: none;
  color: #000;
  padding: 5px;
}

main .main-program h3 a {
  color: black;
  text-transform: uppercase;
}

main .featured-speakers .select-tickets span i {
  font-size: 1rem;
}

footer .footer-top ul li a {
  color: grey;
  text-decoration: none;
}

header .social-media ul li a i:hover,
header nav ul li a:hover {
  color: #EC5242;
  border: 1px solid #EC5242;
}

footer .footer-top ul li {
  display: flex;
}

header nav ul li:active {
  color: blue;
}

main .sharing-word {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 100px;
}

main .sharing-word img {
  width: 100%;
}

main .featured-speakers .speakers img {
  width: 40%;
  margin: 10px;
  float: left;
}

main .main-program .articles article img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

main #sharing-word-about img {
  width: 100%;
}

main #sharing-word-about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .main-program {
  background-image: repeating-radial-gradient(black, #ded 1%, rgb(20, 20, 20) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

main #about-main-program {
  background: #ccc;
  color: black;
}

main #about-main-program #about-main-p {
  width: 50%;
  text-align: center;
  margin-bottom: 20px;
}

main .main-program h2,
main .main-program h3 {
  text-align: center;
  text-transform: capitalize;
  margin: 10px 0;
}

main .main-program hr,
main .featured-speakers hr,
footer .footer-top hr {
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid #EC5242;
  width: 3rem;
}

main .featured-speakers h2 {
  margin: 10px 0;
}

main .main-program .articles {
  display: flex;
  justify-content: space-between;
}

main .main-program .articles article {
  width: 100%;
  margin-left: 3px;
  background: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  color: #000;
  box-sizing: border-box;
}

main h1 {
  font-size: 2rem;
  background: -webkit-linear-gradient(red, #EC5242, rgb(59, 14, 35));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

footer .footer-top h2 {
  color: #EC5242;
  text-align: center;
  margin: 10px 0;
}

main .sharing-word h2:nth-child(1) {
  font-weight: normal;
}

main .main-program .articles article h2 {
  text-align: center;
  color: #EC5242;
  padding: 5px;
}

main .select-tickets span,
main .featured-speakers .select-tickets span {
  color:#EC5242;
}

main .main-program .articles article p a,
main .main-program .articles article p span {
  color: #ccc;
  line-height: 1.5rem;
  text-decoration: none;
  text-align: justify;
}

main .main-program .articles article:hover {
  border: 2px solid white;
  cursor: pointer;
}

main .sharing-word .message {
  margin: 10px 0;
  line-height: 1.5rem;
  padding: 15px;
  border: 2px solid #ddd;
  width: 60%;
}

main .sharing-word #about-message {
  background: white;
  box-shadow: 5px 10px 8px #888;
  text-align: center;
}

main .sharing-word #about-message ol {
  padding: 10px;
}

main .featured-speakers .lunch ul li {
  display: flex;
  align-items: center;
  padding: 10px;
}

main .sharing-word #about-message ol li {
  text-align: justify;
}

main .sharing-word #about-date {
  text-align: center;
}

main .date {
  margin: 15px 0;
  line-height: 2rem;
}

main .featured-speakers {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .featured-speakers .table-container {
  width: 100%;
  border: 5px dashed;
  border-image: -webkit-linear-gradient(left, red, blue 33%, yellow 66%, green) 3%;
}

main .featured-speakers table {
  width: 100%;
  border-collapse: collapse;
}

main .featured-speakers #checked {
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 5px;
  color: white;
  background: #EC5242;
  position: relative;
  top: 30px;
  transform: rotateZ(225deg);
}

main .featured-speakers table th,
main .featured-speakers table td {
  border: 1px solid black;
  margin: 0;
  padding: 10px;
  text-align: center;
  line-height: 1.5rem;
}

main .featured-speakers table td {
  background: white;
  color: #EC5242;
}

main .featured-speakers table td:nth-child(1) {
  color: black;
}

main .featured-speakers table .second-td {
  color: black;
}

main .featured-speakers .speakers {
  margin: 20px 0;
  display: flex;
}

main .featured-speakers .speaker .speach {
  margin: 10px 0;
  line-height: 1.5rem;
}

main .featured-speakers .speaker .speach h4 {
  margin: 10px 0;
  color: #EC5242;
  font-style: italic;
}

main .featured-speakers .speaker .speach hr {
  width: 3rem;
  border: 0;
  border-top: 1px solid grey;
  margin-bottom: 10px;
}

main .select-tickets h3,
main .featured-speakers .select-tickets h3 {
  font-weight: normal;
  padding: 10px 20px;
  margin: 20px 0;
  border: 1px solid grey;
  border-radius: 25px;
  box-sizing: border-box;
}

main .select-tickets {
  display: flex;
  justify-content: center;
}

main .featured-speakers .lunch {
  width: 100%;
  border: 1px solid #ccc;
  margin: 20px 0;
}

main .featured-speakers .lunch h3 {
  padding: 10px;
  text-align: center;
  background: #ccc;
}

footer .footer-top ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

main .featured-speakers .lunch ul {
  display: flex;
  justify-content: space-around;
}

main .featured-speakers .lunch ul li label {
  margin-right: 8px;
}

main .select-tickets #second-fun {
  margin: 3px;
}

main #tickets-featured {
  background: #ddd;
  margin-top: 20px;
  padding-bottom: 16px;
}

footer .footer-top {
  color: white;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .footer-bottom {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 992px) {
  main .main-program .articles {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(3, 1fr);
  }

  main #about-main-program .articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  header nav {
    display: none;
  }

  header .social-media {
    height: 30px;
  }

  header .social-media ul li a i {
    font-size: 0.8rem;
  }

  header .social-media,
  header nav,
  main section,
  main .sharing-word {
    padding: 10px 30px;
  }

  .menu {
    display: block;
    padding: 20px;
    background: #ddd;
  }

  .menu i:hover {
    color: #EC5242;
  }

  .menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .menu ul li a {
    text-decoration: none;
    color: black;
    display: block;
    cursor: pointer;
  }

  .menu div li a:hover {
    color: #EC5242;
  }

  .menu div ul li {
    display: none;
  }

  .menu div:hover ul li {
    display: block;
    background: white;
    padding: 5px;
    border-bottom: 1px solid grey;
  }

  main .sharing-word {
    padding-top: 30px;
  }

  main .sharing-word .message {
    width: 100%;
  }

  main .main-program .articles {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(2, 1fr);
  }

  main #about-main-program .articles {
    display: grid;
    grid-template-columns: 1fr;
  }

  main .featured-speakers .speakers {
    display: grid;
    grid-template-columns: 1fr;
  }

  footer {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 500px) {
  main #tickets-featured .table-container {
    border: none;
    font-size: 0.7rem;
  }

  main .main-program .articles {
    display: grid;
    grid-template-columns: 1fr;
  }

  footer .footer-top {
    padding: 10px 30px;
  }
}
